
    <!-- Top Nav -->
        {{> nav loggedUser = loggedUser}}
    <!-- filters-->
    <div class="bg-light p-3">
      <form method="get" action="/houses">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="input-group">
                <label class="input-group-text"
                  ><i class="fa-solid fa-location-dot"></i
                ></label>
                <select name="location" class="form-select">
                  5
                  <option selected>Any Location</option>
                  <option>Koh Phangan</option>
                  <option>Koh Samui</option>
                  <option>Bali</option>
                </select>
              </div>
            </div>

            <div class="col">
              <div class="input-group">
                <label class="input-group-text"
                  ><i class="fa-sharp fa-solid fa-house"></i
                ></label>
                <select name="rooms" class="form-select">
                  <option selected>Any Rooms</option>
                  <option value="1">1 room</option>
                  <option value="2">2 rooms</option>
                  <option value="3">3 rooms</option>
                  <option value="4">4 rooms</option>
                  <option value="5">5 rooms</option>
                  <option value="6">6 rooms</option>
                </select>
              </div>
            </div>

            <div class="col">
              <div class="input-group">
                <span class="input-group-text">$</span>
                <input
                  name="price"
                  type="number"
                  placeholder="max price"
                  class="form-control"
                  aria-label="Dollar amount (with dot and two decimal places)"
                />
              </div>
            </div>

            <div class="col">
              <div class="input-group">
                <label class="input-group-text">
                  <i class="fa-solid fa-sort"></i
                ></label>
                <select name="lowToHigh" class="form-select">
                  <option selected>Price (low to high)</option>
                  <option value="1">Price (high to low)</option>
                </select>
              </div>
            </div>

            <div class="col">
              <input
                name="houseName"
                class="form-control"
                placeholder="House name..."
              />
              <datalist> </datalist>
            </div>
            <div class="col">
              <button class="btn btn-success">Search</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- house cards -->

    <!-- house -->
    <div class="container py-4">
      <div class="row row-cols-4">
				{{#each eachHouse as |house|}}
        <div class="col p-3">
          <div class="card">
            <img
              src="{{photos.[0]}}

"
              class="card-img-top"
              alt="..."
            />

            <div class="card-body">
              <small> {{house.title}} &bull; {{house.rooms}} /rooms</small>
              <h5 class="card-title">{{house.title}}</h5>
              <a href="#"> <i class="fa-solid fa-thumbs-up m-1"></i></a>
              <a href="#"> <i class="fa-solid fa-thumbs-down m-1"></i></a
              ><small>3 reviews</small><small> ${{house.price}}/night</small>
              <a href="/houses/{{house._id}}" class="stretched-link"></a>
            </div>
          </div>
        </div>


				{{/each}}
      </div>
    </div>
